

  
  <div class= "card col-md-12">
      <h3 class="header-title"><strong>Customer Statement</strong></h3>
                                
<table class="table table-hover">
  <thead>
    <tr>
     <th><strong>Customer</strong></th>
      <th><strong>30 days</strong></th>
      <th><strong>60 days </strong></th>
      <th><strong>90 days</strong></th>
      <th><strong>120 days </strong></th>
    </tr>
  </thead>
  
  <tbody>
  <% @customer.each do | customer | %>
  <% if customer.purchase_balance != nil %>
      <tr>
  <td><%= customer.name  %></td>
  
  <% @purchases30.each do |purchase| %>
  <% if purchase.contact_id = customer.id %>
  <td>  
        <%= purchase.amount %> 
 </td>
  <% end %>
  <% end %>
   <td></td>
    <td></td>
     <td></td>
      </tr>
  <% end %>
   <% end %>
  
  
  
  </tbody>
